extends layout

block content
  .row 
    .col-sm-8 
      br
      h1 Faculty
    .col-sm-4.float-right
      br
      a(href="/add", class="btn btn-primary mx-auto" ) Add New Faculty
  br
  table.table.table-bordered.table-hover
    thead
      tr
        th Title 
        th Price
    tbody 
      each product in products 
        tr 
          td=product.title 
          td=product.price